@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    h1 {
        @apply text-2xl;
    }
    h2 {
        @apply text-xl;
    }
    h3 {
        @apply text-lg;
    }
    
    


    /* Custom style tags for news site*/
    /*p.publish{
        text-align: center;
        padding-left: 0;
    }*/


    /* Custom style tags for website*/
    .ul{ /* to disable ul styling | add to every ul element*/
        display: block;
        list-style-type: none !important;
        padding-left: 0 !important;
        margin: 0 !important;
    }

    .p{
        padding: 0 0 0 0;
        font-size: 1rem;
        line-height: 1.5rem;
        margin-left: 0;
        text-align: left;
    }
    
    
    .img{
        margin: 0;
        padding: 0;
    }
    @media (min-width: 640px) {
        img{
            padding-left: 4rem;
            padding-right: 4rem/* 40px */;
        }
    }
    @media (max-width: 640px) {
        img{
            padding-left: 1.5rem;
            padding-right: 1.5rem/* 40px */;
        }
    }
}

/* Custom style tags for markdown */
.contains-task-list{
    list-style-type: none;
    padding-left: 20px;
}

/*custom style for every other markdown*/
.markdown p{
    padding-top: 2.25rem/* 12px */;
    padding-bottom: 0.75rem/* 12px */;
    padding-left: 1.5rem/* 24px */;
    padding-right: 1.5rem/* 24px */;
    font-size: 1.125rem/* 18px */;
    line-height: 1.75rem/* 28px */;
}
.markdown img{
    /* margin-left: 0;
    margin-right: 0;
    margin-top: 2.5rem/* 40px ;
    margin-bottom: 2.5rem/* 40px ; */
    height: auto;
    margin-left: auto;
    padding-top: 2.5rem;
    padding-bottom: 2.25rem;
    display: block;
    margin-right: auto
}

/* custom style for impressum list */
.markdown ul {
    display: block;
    list-style-type: disc;
    margin-top: 2.5em;
    margin-left: 4rem;
    margin-right: 0;
    list-style: none;
}


/* custom style for markdown blog*/
.markdownNews p{
    margin-left: 4em; 
    text-align: left;
    padding:0 0 0 0;
    font-size: 1rem/* 18px */;
    line-height: 1.5rem/* 28px */;
     
 }
 .markdownNewsPublished{
    font-size: 1rem !important;
    line-height: 1.5rem !important;
    padding: 0 !important;
 }
 .markdownNews img {
    height: auto;
    margin-left: auto;
    padding-left: 4rem;
    padding-right: 1rem;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    display: block;
    margin-right: auto
}



/* hidde scrollbar */
html::-webkit-scrollbar{
    display: none;
}
html{
    -ms-overflow-style: none;
    scrollbar-width: none;
}
