@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    h1 {
        @apply text-2xl;
    }
    h2 {
        @apply text-xl;
    }
    h3 {
        @apply text-lg;
    }
    ul {
        display: block;
        list-style-type: disc;
        margin-top: 1em;
        margin-bottom: 1 em;
        margin-left: 0;
        margin-right: 0;
        padding-left: 40px;
    }
    /* Custom style tags for website*/
    .ul{ /* to disable ul styling | add to every ul element*/
        dislplay: block;
        list-style-type: none;
        padding-left: 0;
        margin-top: 0;
    }
}

/* Custom style tags for markdown */
.contains-task-list{
    list-style-type: none;
    padding-left: 20px;
}


